body {
    background-image: url('bookPage.jpg');
    background-position-x: 300px;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 750px ;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
   text-align: left;
   font-size: 15px;
   height: 230px;
   width:150px;
   box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
padding: 56px;
text-align: center;
background-color: #f1f1f1 #F3D3D3 ;
margin-left: 400px;
margin-top:200px;

}

#p2 {
: 400px;

}



#begin {
    width:120px;
    height: 35px;
    background-color: rgba(230, 215, 87, 0.67);
    border-radius: 15px;
    margin-left:710px;
   margin-top: 80px;

}
